ARCH_ASMFLAGS:=
ARCH_CPPFLAGS:=
ARCH_LDFLAGS:=
ARCH_LIBS:=

ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/flush_gdt.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/load_idt.o \
$(ARCHDIR)/pm_manager.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/vm_manager.o \
